.management {
    background-color: #E2EEF3;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.managemnet_title {
    grid-area: 1/ 1/ 2/ 3;
    justify-self: center;
    text-align: center;
    margin: 3rem;
}
.management-left {
    grid-area: 2/ 1/ 3/ 2;
    align-self: center;
    justify-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
}
.management-left .link_btn  {
    justify-content: flex-start;
}
.management-left .nav-item {
    margin: 0;
}
.management-left .btn-dark {
    margin: 0;
}
.management-right {
    grid-area: 2/ 2/ 3/ 3;
    align-items: flex-start;
    margin: 2rem;
}
.white_arrow{
    margin-left: 1rem;
}
.white_arrow:hover{
    padding-left: 1rem;
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
    
}