.opportunities_ppl {
    margin-left: 5rem;
    margin-right: 5rem;
}
.opportunities_text {
    text-align: center;
    margin: 4rem;
}
.opportunities_text h1 {
    margin-bottom: 3rem;
}
.cases {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 2rem;
}
.cases img {
    grid-area: 1/ 1/ 3/ 2;
    align-self: center;
}
.cases .subtitle {
    grid-area: 1/ 2/ 2/ 3;
    align-self: flex-end;
    margin-bottom: 0;
}
.cases_txt {
    grid-area: 2/ 2/ 3/ 3;
    margin-top: 0;
}
.cases .link_btn {
    grid-area: 1/ 3/ 3/ 4;
}
.black_arrow{
    margin-left: 1rem;
}
.black_arrow:hover{
    padding-left: 1rem;
}
@media screen and (max-width: 768px) {
    .opportunities_text {
        margin: 3rem;
    }
    .opportunities_ppl {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}
@media screen and (max-width: 480px) {
    .opportunities_text {
        margin: 1rem;
    }
    .opportunities_ppl {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}